html {
  background-color: cornflowerblue;
  font-size: 22px;
  margin: 0px 10%;
}
input {
  font-size: 22px;
}
h1 {
  padding: 1% 0%;
  width: 100%;
  background-color: black;
  text-align: center;
  margin-bottom: 10%;
  color: coral;
}
.labelBox {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.boxForm {
  display: flex;
  justify-content: space-around;
}
.labelBox input {
  margin-bottom: 2%;
}
.labelBox label {
  display: flex;
  justify-content: space-between;
}
.btnValider input {
  border-radius: 20px;
  border: solid 1px black;
  background-color: coral;
  padding: 5px 25px;
}
.btnValider {
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.prompt {
  text-align: justify;
}
hr{
margin-top: 5%;
margin-bottom: 5%;
width: 100%;
border: 2px solid black;
color: black;
}
@media only screen and (max-width: 1000px) {
  
  html {
    font-size: 14px;
  }
  input {
    font-size: 10px;
  }
  .labelBox {
    width: 100%;
  }
  .labelBox input{
    margin-bottom: 5%;
    height: 20px;
  }
}